.header{
    width: 100%;
    height: 150px;
    background-color: yellow;
}

.left-section{
    width: 30%;
    height: 200px;
    float: left;
    background-color: violet;
}

.right-section{
    width: 70%;
    height: 200px;
    float: left;
    background-color: turquoise;
}

.footer{
    height:300px;
    width:100%;
    background-color: aqua;

}

.content{
    height:200px;
}

body{
    margin: 0;
}

